<!DOCTYPE html>
<html lang="en"> <!--ำหนดว่าใช้ภาษาอังกิดในเว็บ-->
		<head>
			<meta charset="utf-8"> <!--กำหนดว่าเว็บเราใช้ฟอนต์ utf-8-->
				<title>Cmm 19</title>
					<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
					<link rel="stylesheet" type="text/css" href="assets/home.css"></link>
		</head>
			<body>
				<header>
					<div class="has-text-centered"> <!-- เอาไว้ใชเวลาคิดไรไท่ออกก็ใส่ลงไป, ใส่ไรก้ได้> <!- -hasdiv เอาไว้ใช้แสดงผล -->
						<img src="/assets/images/logo.png" width ="145" height= "auto"> 
					</div>

					   	<nav class="navbar-tabs">
					   		<div class="nav-center">
							<a href="#" class="navbar-item">WORK</a>  <!-- class ใช้เพื่อจัดหมวดหมู่ตอนใช้ css selecter-->
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							</div>
			   			</nav>
				</header>
				<main>
					<section class="banner">
						<div class="highlight">
							<div class="columns">
								<div class="column highlight-item"> 
									<h1>โค้ดดิ้งหัวครุย</h1>
									</div>
								</div>
							</div>
						</div>

						<div class="thumbnail">
							<div class="columns is-marginless">
								<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg");"> ครุยๆ
								</div>
								<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg");"> ครุยๆ
								</div>
								<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg");"> ครุยๆ
								</div>
								<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg");"> ครุยๆ 
								</div>
							</div>
						</div>
					</section>
					<section class="section we-present">
						<div class="container">
							<div class="columns">
								<div class="column has-text-left">
									<a href="#">ด้านซ้ายไอสัส</a>
								</div>
								<div class="column has-text-centered">
									ตรงกลางไอเชี่ย
								</div>
								<div class="column has-text-right">
									<a href="#">ด้านขวาไอชิบหาย</a>
								</div>
								</div>
									<div class="columns is-multiline">
									<a href="#" class="column is-one-third">
										<div class="card">
											<div class="card-image">
												<figure class="image is-3by2">
													<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
												</figure>
											</div>
											<div class="card-content">
												<h5 class="category">pubilc space</h5>
												<h3 class="title is-spaced is-4"></h3>
												<h4 class="subtitle is-6">เรื่องเด่นเย็นนี้</h4>
												<p>
													คือเรามีเรื่องจะมาเล่าให้พวกแกทุกคนฟังเว้ย
												</p>
											</div>
										</div>
									</a>
									<a href="#" class="column is-one-third">
										<div class="card">
											<div class="card-image">
												<figure class="image is-3by2">
													<img src="assets/images/home/we-preset/img-2.jpg" alt="image-1">
												</figure>
											</div>
											<div class="card-content">
												<h5 class="category">มาๆเล่าต่อ</h5>
												<h3 class="title is-spaced is-4"></h3>
												<h4 class="subtitle is-6">คือเรื่องมันเป็นอย่างนี้</h4>
												<p>
													วันนี้เรามี workshop เซ็บตอนเช้าแหละ
												</p>
											</div>
										</div>
									</a>
									<a href="#" class="column is-one-third">
										<div class="card">
											<div class="card-image">
												<figure class="image is-3by2">
													<img src="assets/images/home/we-preset/img-3.jpg" alt="image-1">
												</figure>
											</div>
											<div class="card-content">
												<h5 class="category">มาๆ ep3</h5>
												<h3 class="title is-spaced is-4"></h3>
												<h4 class="subtitle is-6">เราเริ่มเรียนตอน8.30เว้ย เช้ามากๆ</h4>
												<p>
													และเราก้เรียนมาเรื่อยๆจนเที่ยงเว้ย เราถึงได้พัก
												</p>
											</div>
										</div>
									</a>
									<a href="#" class="column is-one-third">
										<div class="card">
											<div class="card-image">
												<figure class="image is-3by2">
													<img src="assets/images/home/we-preset/img-4.jpg" alt="image-1">
												</figure>
											</div>
											<div class="card-content">
												<h5 class="category">ep4 มาละจ้า</h5>
												<h3 class="title is-spaced is-4"></h3>
												<h4 class="subtitle is-6">ปรากดว่า โรงอาหารเต็ม อีผีเอ้ยย</h4>
												<p>
													เรากับเพื่อนๆเลยต้องไปกินที่สหรของมหาลัย
												</p>
											</div>
										</div>
									</a>
									<a href="#" class="column is-one-third">
										<div class="card">
											<div class="card-image">
												<figure class="image is-3by2">
													<img src="assets/images/home/we-preset/img-5.jpg" alt="image-1">
												</figure>
											</div>
											<div class="card-content">
												<h5 class="category">จัดไป ep5</h5>
												<h3 class="title is-spaced is-4"></h3>
												<h4 class="subtitle is-6">และก็ขึ้นมาเรียนต่อด้วยความเหนือยล้ามากมาย</h4>
												<p>
													จนถึงตอนนี้เวลา5โมงเย็น 
												</p>
											</div>
										</div>
									</a>
									<a href="#" class="column is-one-third">
										<div class="card">
											<div class="card-image">
												<figure class="image is-3by2">
													<img src="assets/images/home/we-preset/img-6.jpg" alt="image-1">
												</figure>
											</div>
											<div class="card-content">
												<h5 class="category">ตอนจบจ้า ep6</h5>
												<h3 class="title is-spaced is-4"></h3>
												<h4 class="subtitle is-6">พี่เขาปล่อยพวกเรากลับบ้านละหละ 555</h4>
												<p>
													ละ พน เรียน backend กุตายแน่จ้า 5555
												</p>
											</div>
										</div>
									</a>
								</div>

							</div>
						</div>
					</section>
				</main>
			</body>
</html>