<header>
					<div class="has-text-centered"> <!-- เอาไว้ใชเวลาคิดไรไท่ออกก็ใส่ลงไป, ใส่ไรก้ได้> <!- -hasdiv เอาไว้ใช้แสดงผล -->
						<img src="/assets/images/logo.png" width ="145" height= "auto"> 
					</div>

					   	<nav class="navbar-tabs">
					   		<div class="nav-center">
							<a href="#" class="navbar-item">WORK</a>  <!-- class ใช้เพื่อจัดหมวดหมู่ตอนใช้ css selecter-->
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							<a href="#" class="navbar-item">WORK</a>
							</div>
			   			</nav>
				</header>